{% extends 'base.html.twig' %}

{% block body %}
<p>{{usersCity}}</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Obecna pogoda</th>
        <th>Uwarunkowanie</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Długość Geograficzna</td>
        <td>{{ latitude }}</td>
    </tr>
    <tr>
        <td>Szerokość Geograficzna</td>
        <td>{{ longitude }}</td>
    </tr>
    <tr>
        <td>Temperatura</td>
        <td>{{ temperature-273 }} &#8451</td>
    </tr>
    <tr>
        <td>Ciśnienie</td>
        <td>{{ pressure }} hPa</td>
    </tr>
    <tr>
        <td>Wilgotność</td>
        <td>{{ humidity }} %</td>
    </tr>
    <tr>
        <td>Prędkość wiatru</td>
        <td>{{ windSpeed }} m/s</td>
    </tr>
    <tr>
        <td>Zachmurzenie</td>
        <td>{{ clouds }} %</td>
    </tr>


    </tbody>
</table>
<br>
<br>
<h4>Pogoda na najbliższe 10 dni:</h4>
<table class ="table table-striped">
    <thead>
    <tr>
        <th>L.p.</th>
        <th>Temperatura w &#8451</th>
        <th>Ciśnienie w hpa</th>
        <th>Objętość opadów na &#13217 w litrach </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>1</th>
        <td>{{longterm_temperature0-273}}</td>
        <td>{{longterm_pressure0}}</td>
        <td>{{longterm_rain0}}</td>
    </tr>
    <tr>
        <th>2</th>
        <td>{{longterm_temperature1-273}}</td>
        <td>{{longterm_pressure1}}</td>
        <td>{{longterm_rain1}}</td>
    </tr>
    <tr>
        <th>3</th>
        <td>{{longterm_temperature2-273}}</td>
        <td>{{longterm_pressure2}}</td>
        <td>{{longterm_rain2}}</td>
    </tr>
    <tr>
        <th>4</th>
        <td>{{longterm_temperature3-273}}</td>
        <td>{{longterm_pressure3}}</td>
        <td>{{longterm_rain3}}</td>
    </tr>
    <tr>
        <th>5</th>
        <td>{{longterm_temperature4-273}}</td>
        <td>{{longterm_pressure4}}</td>
        <td>{{longterm_rain4}}</td>
    </tr>
    <tr>
        <th>6</th>
        <td>{{longterm_temperature5-273}}</td>
        <td>{{longterm_pressure5}}</td>
        <td>{{longterm_rain5}}</td>
    </tr>
    <tr>
        <th>7</th>
        <td>{{longterm_temperature6-273}}</td>
        <td>{{longterm_pressure6}}</td>
        <td>{{longterm_rain6}}</td>
    </tr>
    <tr>
        <th>8</th>
        <td>{{longterm_temperature7-273}}</td>
        <td>{{longterm_pressure7}}</td>
        <td>{{longterm_rain7}}</td>
    </tr>
    <tr>
        <th>9</th>
        <td>{{longterm_temperature8-273}}</td>
        <td>{{longterm_pressure8}}</td>
        <td>{{longterm_rain8}}</td>
    </tr>
    <tr>
        <th>10</th>
        <td>{{longterm_temperature9-273}}</td>
        <td>{{longterm_pressure9}}</td>
        <td>{{longterm_rain9}}</td>
    </tr>
    </tbody>

</table>
{% endblock %}
