{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{usersCity}}</th>
        <th>Dane</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Długość Geograficzna</td>
        <td>{{ latitude }}</td>
    </tr>
    <tr>
        <td>Szerokość Geograficzna</td>
        <td>{{ longitude }}</td>
    </tr>
    <tr>
        <td>Temperatura</td>
        <td>{{ temperature-273 }} &#8451</td>
    </tr>
    <tr>
        <td>Ciśnienie</td>
        <td>{{ pressure }} hPa</td>
    </tr>
    <tr>
        <td>Wilgotność</td>
        <td>{{ humidity }} %</td>
    </tr>
    <tr>
        <td>Prędkość wiatru</td>
        <td>{{ windSpeed }} m/s</td>
    </tr>
    <tr>
        <td>Zachmurzenie</td>
        <td>{{ clouds }} %</td>
    </tr>

    </tbody>
</table>

{% endblock %}
